.container{
width: 100%;
height: 100hv;
display: flex;
align-items: center;
justify-content: center;
   
}
.gallery{
display: flex;
align-items: center;
justify-content: center;
  
}
.img-box{
width: 118px;
height: 459PX;
margin: 19px;
border-radius: 50PX;
background:url(images/pexels-robinstickel-70497.jpg);
background-size: cover;
background-position: center;
transition: width 0.5S;
position: relative; 
box-shadow: #120707
}
.img-box:nth-child(2){
background: url(images/pexels-harry-dona-2418486.jpg);
background-size: cover;
background-position-x: center;
 
}
.img-box:nth-child(3){
background:url(images/pexels-fariphotography-905847.jpg);
background-size: cover;
background-position-x: center;
 
}
.img-box:nth-child(3){
background:url(images/pexels-daniel-reche-718241-3616956.jpg);
background-size: cover;
background-position-x: center;
 
}
.img-box h3 {
color: #ffffff;
position: absolute;
bottom: 0;
left: 30PX;
opacity: 0;
transition: bottom 0.5s,opacity 0.5s;    
}
.img-box:hover{
 width: 700px;

   
}
.img-box:hover h3{  
opacity: 1;
bottom: 11PX; 
color: aqua;
transition: 1.1s
}
 

h1{

color: #d1c4c4;
background-color: #0c0500;
width: 153px;
height: 42px;
border-radius: 92PX;
font-family: Arial, Helvetica, sans-serif;

}
button:hover{
 background-color: brown   ;
transition: 0.8S
}

body{
   background-color: #972525
}
#link{
color: blanchedalmond;
text-decoration:none;
cursor: pointer;
 
}
#link:hover{
background-color: black
   
   
}
 h1{
  position: absolute;
  top: 496px;
  left: 44%;
  font-size: 36px;
  text-align: center;
 
 }
 button{
  position: absolute;
   top: 629px;
 }
 h4{
  position: absolute;
   top: 579px;
 

 }
 a{
  position: absolute;
  top: 2px;
  left: 6%;
  font-size: 18px;
  text-align: center;
 
 }